body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'comic sans ms';
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: black;
}

nav a {
    color: blue;
}

ul {
    margin-left: 0;
}

nav ul{
    margin-left: 0;
    list-style: none;
    justify-content: center;
    margin: 0;  
    padding: 0;
}

nav ul li{
    margin-bottom: 20px;
}

nav ul li a{
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
}